.navbar-custom {
  background-color: black;
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 0; }
  .navbar-custom .navbar-nav li {
    padding-left: 20px; }
    .navbar-custom .navbar-nav li a {
      color: white;
      font-weight: bold;
      padding-top: 10px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px; }
  .navbar-custom #donatebtn {
    color: yellow; }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: white;
  padding-top: 8px;
  font-size: 200%; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: black; }

.footer {
  background: black none repeat scroll 0 0;
  border-top: 1px solid black;
  margin: 0;
  height: 60px; }
  .footer .footer_section {
    width: 100%; }
    .footer .footer_section ul {
      list-style: none;
      margin: 0;
      margin-top: -2px;
      padding: 0; }
    .footer .footer_section p {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 15px;
      margin-top: 20px;
      text-align: justify; }
    .footer .footer_section li {
      display: inline-block;
      margin-top: 20px; }
    .footer .footer_section a {
      color: white; }
    .footer .footer_section #dots {
      font-weight: bold;
      font-size: 15px;
      color: #fff; }

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.iconTumblr:hover i, .social-network a.iconPinterest:hover i {
  color: #fff; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 20px; }

.social-circle li i {
  margin: 0;
  margin-top: 5px;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }
