.breadcrumb-main {
  background-color: #4dc3ff; }
  .breadcrumb-main .navbar-right {
    padding-right: 0; }
  .breadcrumb-main .breadcrumb {
    padding: 8px 0;
    margin-bottom: 0; }
  .breadcrumb-main .breadcrumb {
    height: 100px;
    background-color: transparent; }
  .breadcrumb-main .breadcrumb .form-group {
    padding: 5px; }
  .breadcrumb-main .breadcrumb > li + li:before {
    content: none; }
  .breadcrumb-main .breadcrumb > li {
    padding: 10px;
    padding-top: 30px; }
  .breadcrumb-main .breadcrumb > li > a {
    color: white;
    font-size: 17px;
    text-decoration: none; }
  .breadcrumb-main #searchBibleQuestion {
    width: 310px;
    border-radius: 0;
    font-size: 15px;
    height: 50px;
    padding-left: 25px; }
  .breadcrumb-main input[type="text"] {
    background: transparent;
    height: 50px;
    width: 350px;
    font-size: 18px; }
  .breadcrumb-main #searchBibleQuestion::-webkit-input-placeholder {
    color: black;
    opacity: 1 !important; }
  .breadcrumb-main #searchBibleQuestion::-moz-placeholder {
    color: black; }
  .breadcrumb-main #searchBibleQuestion:-ms-input-placeholder {
    color: black; }

.navbar-custom {
  background-color: black;
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 0; }
  .navbar-custom .navbar-nav li {
    padding-left: 20px; }
    .navbar-custom .navbar-nav li a {
      color: white;
      font-weight: bold;
      padding-top: 10px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px; }
  .navbar-custom #donatebtn {
    color: yellow; }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: white;
  padding-top: 8px;
  font-size: 200%; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: black; }

.footer {
  background: black none repeat scroll 0 0;
  border-top: 1px solid black;
  margin: 0;
  height: 60px; }
  .footer .footer_section {
    width: 100%; }
    .footer .footer_section ul {
      list-style: none;
      margin: 0;
      margin-top: -2px;
      padding: 0; }
    .footer .footer_section p {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 15px;
      margin-top: 20px;
      text-align: justify; }
    .footer .footer_section li {
      display: inline-block;
      margin-top: 20px; }
    .footer .footer_section a {
      color: white; }
    .footer .footer_section #dots {
      font-weight: bold;
      font-size: 15px;
      color: #fff; }

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.iconTumblr:hover i, .social-network a.iconPinterest:hover i {
  color: #fff; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 20px; }

.social-circle li i {
  margin: 0;
  margin-top: 5px;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

.container-whatsNew h2 {
  color: #404040;
  margin-top: 45px;
  display: inline-block; }

.container-whatsNew p {
  float: none;
  font-size: 18px;
  color: #1ab2ff;
  display: inline-block; }

.col-lg-4 .form-container h3 {
  margin-left: 35px;
  color: black;
  padding-top: 30px; }

.col-lg-4 .form-container .form-group {
  padding-top: 25px; }
  .col-lg-4 .form-container .form-group .form-control {
    height: 60px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 25px;
    width: 90%;
    margin-left: 15px; }
  .col-lg-4 .form-container .form-group .question {
    height: 150px;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 10px;
    margin-left: 15px;
    width: 90%; }
  .col-lg-4 .form-container .form-group #btn-ask {
    height: 50px;
    width: 100px;
    float: right;
    margin-right: 15px;
    color: white;
    background-color: #1ab2ff; }
  .col-lg-4 .form-container .form-group .p1 {
    text-align: left;
    font-size: 70%;
    font-weight: bold;
    margin-left: 10px;
    color: gray; }
  .col-lg-4 .form-container .form-group .p2 {
    padding-top: 10px;
    font-size: 90%;
    margin-left: 10px;
    color: gray; }

.btn {
  height: 50px;
  width: 100px;
  float: right;
  margin-right: 15px;
  background-color: white;
  color: #1ab2ff; }

.btn:hover {
  color: #1ab2ff;
  background-color: none; }

::-webkit-input-placeholder {
  color: #333333;
  font-weight: normal; }

.article-content .p3 {
  font-size: 100%;
  color: black; }

.article-content .post-content img {
  float: right;
  position: relative;
  padding-top: 80px;
  padding-left: 10px; }

.article-content .pull-right img {
  float: right;
  position: relative; }

.article-content .post-content .col-lg-8 {
  padding-left: 0;
  padding-right: 30px; }

.article-content .form-container {
  background-color: #e6e6e6;
  margin: 0 auto;
  padding-bottom: 5px; }

.article-content h4 {
  color: #1ab2ff;
  text-align: center; }
