
@import "main";
@import 'modules/breadcrumb';
@import 'post';


.banner{
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(http://fullhdpictures.com/wp-content/uploads/2015/04/Nice-Office-Wallpapers.jpg);
	#searchAmong{
		margin-right: 80px;
	}

	#h3{
		color: #1ab2ff;
		text-align: left;
		margin-left: 70px;
		margin-top: 0;
		padding-top: 0;
	}

	#h4{
		color: #1ab2ff;
		text-align:left;
		margin-left:70px;
		margin-top: 0;
	}
	.col-lg-7{
		margin-top: 50px;
	}
	.col-lg-5 {
		margin-top: 100px;
	}
	#ask {
		height: 50px;
		float: left;
		width: 300px;
		margin-top: 20px;
		margin-left: 70px;
		background-color: transperent;
		color: #1ab2ff;
		border-radius: 0;
	}

	#search_bible_question {
		height: 50px;
		width: 120px;
		margin-top: -50px;
		margin-right: 90px;
		background-color: white;
		color: #1ab2ff;
		display: inline-block;
		border-radius: 0;
	}
	.banner-section-right {
		height: 250px;
		width: 550px;
		margin-left: -100px;
		.questionBible{
			width: 300px;
			background-color: transparent;
			height: 50px;
			margin-left: 40px;
			display: block;
			border-radius: 0;
		}
	}

	.form-control{
			height: 60px;
			font-size: 15px;
			border-radius: 10px;
			padding-left: 25px;
			width: 90%;
			margin-left: 15px;
	}

	.emailAddress{
		margin-left: 70px;
		margin-top: 50px;
		width: 300px;
		background-color: transparent;
		height: 50px;
		display: block;
		border-radius: 0;
	}
	.bibleQuestion{
		margin-left: 70px;
		margin-top: 50px;
		width: 300px;
		background-color: transparent;
		height: 50px;
		display: block;
		border-radius: 0;
	}

	#biblequestion {
		margin-top: 20px;
	}

	input[type="text"]{
		background: transparent;
		height: 50px;
		width: 350px;
		font-size: 18px;
	}

	.btn{
		height: 50px;
		width: 100px;
		float: right;
		margin-right: 15px;
		background-color: white;
		color: #1ab2ff;
	}

	.form-group{
		padding-top: 25px;
	}

}


.container-topics{
	height:400px;
}

.container-videos {
	background: linear-gradient(to right,  #808080 0%,#bfbfbf 40%,#bfbfbf 40%,#808080 100%);
	height:350px;
	#featured-video{
		color: #fff;
	}
	#other-videos{
		color: #fff;
		float: right;
	}
	.pull-right{
		display: block;
		margin-right: -85px;
		margin-top: 50px;
	}
	#pic1{
		margin-right: -305px;
		margin-top:  90px;
		color: #fff;
	}

	#pic2{
		margin-right: -305px;
		margin-top:  180px;
		color: #fff;
	}

	#pic3{
		margin-right: -305px;
		margin-top:  265px;
		color: #fff;
	}
	img{
		padding-top: 27px;
	}
	iframe{
		margin-top: 15px;
	}
	#text{
		margin-top: 78px;
		text-align: left;
		color: #fff;
		font-size: 25px;
	}
}

.pre-footer{
	text-align: center;
	img{
		margin: 0 auto;
	}
	#text2{
		text-align: center;
		font-size: 20px;
		font-weight: 600;
	}
}
