@import 'modules/breadcrumb';
@import 'main';

.container-whatsNew{
	h2{
		color: #404040;
		margin-top: 45px;
		display: inline-block;

	}
	p{
			float:none;
			font-size: 18px;
			color: #1ab2ff;
			display: inline-block;
	}
}

.col-lg-4{
	.form-container{
		h3{
			margin-left: 35px;
			color: black;
			padding-top:30px;
		}
		.form-group{
			padding-top: 25px;
			.form-control{
				height: 60px;
				font-size: 15px;
				border-radius: 10px;
				padding-left: 25px;
				width: 90%;
				margin-left: 15px;
			}
			.question{
				height: 150px;
				font-size: 18px;
				border-radius: 10px;
				padding-left: 25px;
				padding-top: 10px;
				margin-left: 15px;
				width: 90%;
			}
			#btn-ask{
				height: 50px;
				width: 100px;
				float: right;
				margin-right: 15px;
				color: white;
				background-color: #1ab2ff;
			}
			.p1{
				text-align: left;
				font-size: 70%;
				font-weight: bold;
				margin-left: 10px;
				color: gray;
			}

			.p2{
				padding-top: 10px;
				font-size: 90%;
				margin-left: 10px;
				color: gray;
			}
		}
	}
}

.btn{
	height: 50px;
	width: 100px;
	float: right;
	margin-right: 15px;
	background-color: white;
	color: #1ab2ff;
}

.btn:hover{
	color: #1ab2ff;
	background-color: none;

}

::-webkit-input-placeholder {
    color:#333333;
		font-weight: normal;
}

.article-content{
	.p3{
		font-size: 100%;
		color: black;
	}

	.post-content img{
		float: right;
		position: relative;
		padding-top: 80px;
		padding-left: 10px;
	}

	.pull-right img{
		float: right;
		position: relative;
	}
	.post-content{
		.col-lg-8{
			padding-left: 0;
			padding-right: 30px;
		}
	}

	.form-container{
		background-color: #e6e6e6;
		margin: 0 auto;
		padding-bottom: 5px;
	}
	h4{
		color: #1ab2ff;
		text-align: center;
	}
}
