
.breadcrumb-main {
	background-color: #4dc3ff;
	.navbar-right{
		padding-right: 0;
	}
	.breadcrumb{
		padding: 8px 0;
		margin-bottom: 0;
	}
	.breadcrumb {
		height: 100px;
		background-color: rgba(0,0,0,0);
	}

	.breadcrumb .form-group{
		padding: 5px;
	}

	.breadcrumb > li + li:before {
		content: none;
	}
	.breadcrumb > li {
		padding: 10px;
		padding-top: 30px;
	}

	.breadcrumb > li > a {
		color: white;
		font-size: 17px;
		text-decoration: none;
	}

	#searchBibleQuestion{
		width: 310px;
		border-radius: 0;
		font-size: 15px;
		height: 50px;
		padding-left: 25px;
	}
	input[type="text"]{
		background: transparent;
		height: 50px;
		width: 350px;
		font-size: 18px;
	}

	#searchBibleQuestion::-webkit-input-placeholder { color: black; opacity: 1 !important; }
	#searchBibleQuestion::-moz-placeholder {color: black;}
	#searchBibleQuestion:-ms-input-placeholder {color: black;}

}
