.footer {
    background: black none repeat scroll 0 0;
    border-top: 1px solid black;
    margin: 0;
		height: 60px;
    .footer_section{
      width: 100%;
      ul {
          list-style: none;
          margin: 0;
          margin-top: -2px;
          padding: 0;
      }
      p {
          color: #fff;
          font-size: 14px;
          line-height: 20px;
          margin: 0 0 15px;
          margin-top: 20px;
          text-align: justify;
      }
      li {
      	display: inline-block;
      	margin-top: 20px;
      }
      a{
       color: white;
     }
     #dots {
     	font-weight: bold;
      font-size: 15px;
     	color: #fff;
     }
    }
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.iconTumblr:hover i, .social-network a.iconPinterest:hover i {
	color:#fff;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 25px;
	height: 25px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	margin-top: 5px;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
