.navbar-custom{
	background-color: black;
	border-radius: 0;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-bottom: 0;
	.navbar-nav {
		li {
			padding-left: 20px;
			a{
				color: white;
				font-weight: bold;
				padding-top: 10px;
				text-align: center;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 10px;
			}
		}
	}

	#donatebtn{
		color: yellow;
	}
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
	color: white;
	padding-top: 8px;
	font-size: 200%;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	background-color: black;
}
